body {
     background-color: #f4f0f1;
}

*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.rss-container{
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2dc4a2;
    padding: 20px;
}

.rss-sidebar{
    overflow: hidden;
    height: 20px;
    position:relative;
    width: 300px;
}

.rss-sidebar ul{
    margin: 0;
    list-style: none;
    white-space: nowrap; 
    position: absolute;
    padding: 0;    
 }

.rss-sidebar li{
    margin: 0;
    padding: 0;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-property: all;
    opacity: 1;
}

.rss-sidebar li:nth-child(2){
  opacity: 0;
}

.rss-sidebar li a{
text-decoration: none;
color: #000;
margin-left: 5px;
}

